/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and adjust text colors */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the main content container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style the buttons */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Style the file input */
input[type="file"] {
    display: none;
}

.label-btn {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style the result images and graphs */
.result-image,
.result-graph {
    display: block;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Center elements in a flex container */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Style the Upload Image button */
.upload-btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.upload-btn input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.upload-btn span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0056b3;
    border-radius: 5px;
}

/* Style the Start Processing button */
.process-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.process-btn:hover {
    background-color: #218838;
}


/* Center-align the "Upload Image" button */
.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* Center vertically within the viewport height */
}